// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-green: #42b983;

$color-grey-light: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem; // 1140px
$gutter-ns: 8rem; // 80px north to south , longitude
$gutter-ew: 6rem; // 60px east to west, latitude
