.card {
    -moz-perspective: 150rem;
    perspective: 150rem;

    &:hover &__side {
        transform: rotateY(180deg);
    }

    &__side {
        background-color: orange;
        color: #fff;
        font-size: 2rem;
        height: 50rem;
        transition: all 0.8s;
    }
}
